<div id="login">
  <div class="container">
    <div class="content">
      <div class="ui segment">

        <div class="logo">
          <img src="assets/images/logo2.png">
        </div>

        <div class="ui divider"></div>

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

        <div ng-show="loginState === 'login'">
          <div class="ui login-password form">
            <form ng-submit="login()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <label> Password</label>
                <input type="password"
                       id='password'
                       placeholder="Password (at least 6 characters)"
                       ng-model="password" required>
              </div>
              <div class="field">
                <button id="login-password"
                        type="submit"
                        class="fluid ui login button">
                        Login
                </button>
              </div>
            </form>
          </div>

          <div class="ui form" ng-show="regIsOpen">
            <div class="ui divider"></div>
            <div class="field">
              <button id="register"
                      type="submit"
                      class="fluid ui register button"
                      ng-click="register()">
                      Register
              </button>
            </div>
          </div>

          <div class="ui form">
            <div class="ui divider"></div>
            <div class="field">
              <div class="goodid-login-button" data-width="198" data-height="34" data-font-size="11" data-size="" data-style="blue" data-lang="en_US" data-endpoint="/_goodid/initiate-login"></div>
            </div>
          </div>
          <script type="text/javascript">//<![CDATA[
            (function(d, t, i) {
                var s, b;
                if (d.getElementById(i)) { return; }
                s = d.createElement(t); s.id = i;
                s.src = '//connect.goodid.net/v1.0/connect.min.js';
                b = d.getElementsByTagName(t)[0]; b.parentNode.insertBefore(s, b);
            })(document, 'script', 'goodid-sdk');
            //]]></script>
            <style type="text/css">
              .goodid-login {
                font-size: 1rem !important;
                width: 100% !important;
                min-height: 1em !important;
                margin: 0 .25em 0 0 !important;
                padding: .78571429em 1.5em !important;
                font-weight: 700 !important;
                max-height: 3.2em !important;
                height: unset !important;
                text-align: center !important;
              }
            </style>
        </div>

        <div ng-show="loginState === 'forgot'">
          <div class="ui forgot-password form">
            <form ng-submit="sendResetEmail()">
              <div class="field">
                <label> Email</label>
                <input type="email"
                       id='email'
                       placeholder="foo@bar.edu"
                       ng-model="email">
              </div>
              <div class="field">
                <button id="forgot-password"
                        type="submit"
                        class="fluid ui login button">
                        Send Reset Email
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="ui divider"></div>

        <div ng-show="loginState === 'login'" class="forgot">
          <a href="#" ng-click="setLoginState('forgot')">
            Forgot Password?
          </a>
        </div>

        <div ng-show="loginState === 'forgot'" class="forgot">
          <a href="#" ng-click="setLoginState('login')">
            {{regIsOpen ? 'Login or Register' : 'Login'}}
          </a>
        </div>


      </div>
    </div>

  </div>
</div>
