#application {
  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
  .font-weight-300 {
    font-weight: 300;
    label {
      font-weight: 300;
    }
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mr-30 {
    margin-right: 30px;
  }
  .countrydropdown {
    padding: 0.5em !important;
  }
  .label-other {
    display: inline-flex;
    input {
      padding: 0.2em 0.2em;
      margin-left: 0.5em;
      margin-top: -0.25em;
    }
  }
}