#login {
  height: 100%;
  width: 100%;
  background-color: $login-bg-color;
  background: $login-bg; 
  background-size: cover;

  > .container {
    position: relative;
    top: 50%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    > .content {
      max-width: 320px;
      margin: 0 auto;

      .logo {
        max-width: 100px;
        margin: auto;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .button {
        color: white;
        &.login {
          background: $login-color;
        }
        &.register {
          background: $register-color
        }
      }

      .forgot {
        text-align: center;
      }

    }
  }

  .goodid-login {
    font-size: 1rem !important;
    width: 100% !important;
    min-height: 1em !important;
    margin: 0 .25em 0 0 !important;
    padding: .78571429em 1.5em !important;
    font-weight: 700 !important;
    max-height: 3.2em !important;
    height: unset !important;
    text-align: center !important;
  }

}
